<% if @view_in_config && @erb_code %>
    <%= render inline: @erb_code %>
<% else %>
<h4><%=@title %></h4>
<%= simple_form_for @allocation do |f| %>    
	  <%= f.input :description, :label => t('Description'), :input_html => {:rows => 3} %>
	  <%= f.input :start_date, :label => t('Start Date'), :as => :string, :readonly => readonly?(@allocation, 'start_date') %>
      <%= f.input :end_date, :label => t('End Date'), :as => :string, :readonly => readonly?(@allocation, 'end_date') %>    
	  <% if readonly?(@allocation, 'active')%>
	    <%= f.input :active_noupdate, :label => t('Active'), :input_html => {:value => (@allocation.active ? t('Yes') : t('No'))} %>
	  <% else %>
	    <%= f.input :active, :label => t('Active'), :collection => [[t('Yes'), true], [t('No'), false]], :include_blank => true %>
	  <% end %>
      <%= f.input :detailed_resource_id, :label => t('User'), :collection => return_users('index', 'info_service_projectx/projects') unless readonly?(@allocation, 'detailed_resource_id') %>
      <%= f.input :detailed_resource_noupdate, :label => t('User'), :readonly => true, :input_html => {:value => Authentify::User.find_by_id(@allocation.detailed_resource_id).name} if readonly?(@allocation, 'detailed_resource_id') %>
      <%= f.input :assigned_as, :label => t('Assigned As'), :collection => @positions, :include_blank => true %>
      
      <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
	  <%= f.button :submit, t('Save'), :class => BUTTONS_CLS['action'] %>  
<% end %>  

<% end %>
