<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div class="pagination"><%= will_paginate models %></div>
    <table class="table table-striped">
		<tr>
            <th>#</th>
			<th><%= t('Assigned As') %></th>
			<th><%= t('Description') %></th>
			<th><%= t('Status') %></th>
			<th><%= t('Start') %></th>
			<th><%= t('End') %></th>
			<th><%= t('Last updated by') %></th>
			<th></th>
		</tr>
		<% models.each do |r| %>
		  <tr>
            <% if has_action_right?('show', 'resource_allocx_allocations', r) %>
                <td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{allocation_path(r)}"  %></td>
            <% else %>
                <td><%= r.id %></td>
            <% end %>
		  	<td><%= r.assigned_as %></td>
			<td><%= prt(r, :description) %></td>
			<td><%= t(prt(r, 'status.name')) %></td>
			<td><%= prt(r, :start_date).strftime("%Y/%m/%d") if r.start_date.present? %></td>
			<td><%= prt(r, :end_date).strftime("%Y/%m/%d") if r.end_date.present? %></td>
			<td><%= prt(r, 'last_updated_by.name') %></td>    
		    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_allocation_path(r)}", :class => BUTTONS_CLS['action']  if has_action_right?('update', params[:controller], r) %></td>
		  </tr>
		<% end %>
	</table>
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to t('New Allocation'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape new_allocation_path(resource_id: @resource_id, resource_string: @resource_string, resource_category: @resource_category)}", :class => BUTTONS_CLS['action'] if @resource_category && @resource_id && @resource_string && has_action_right?('create', params[:controller]) %>
	    </th>
	  </tr>
	</table>
	
<% end %>
